input {
  padding: 10px 60px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  min-width: 240px;
  margin-bottom: 40px;
  outline: none;
  transition: border 0.3s ease;
}
input:hover {
  border: 1px solid #c4f4f2;
}
