.country{
  background: #8ef7b8;
  padding:10px;
  border-radius:8px ;
  flex:1 1 280px;
  transition:.3s ease-in;
  color:#222;
}
img{
  width: 100%;
  height: 250px;
  border-radius: 4px;
  box-shadow:  2px 5px 10px #222;
}
.country:hover{
  transform:scale(1.02);
}
button{
  border: none;
  text-align: center;
  border-radius: 4px;
  padding:8px 18px;
  background-color: #51d057;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
  transition: .3s ease;
}
button:hover{
  background: #ef3e3ebf;
}
.btn-wrap{
  display: flex;
}